{% load static %}
{% include "base.html" %}


{% block content %}
{% if user.is_authenticated %}
<form action="/" method="post">
{% csrf_token %}
{{ form.suggestion_field.label }}
{{ form.suggestion_field }}
{{ form.suggestion_field.errors }}
<input type="submit" class="button" value="Add Suggestion">
</form>
{% endif %}
<div id="app-4">
  <span v-if="seen">
    <ul>
    {% for item in item_list %}
        <li>{{ item.suggestion_field }} - {{ item.suggestion_author.username }} - <a href="comment/{{ item.id }}/">comment</a></li>
    {% endfor %}
    </ul>
  </span>
  <span v-if="unseen">
  <div v-for="todo in suggestions" >
      {% verbatim %}
      <div class="card-info secondary">
        <div class="card-info-content">
          <h3 class="lead">{{ todo.suggestion }}</h3>
          <p>authored by {{ todo.author }} on {{ todo.created_on }}</p>
          <p>{{ todo.num_comments }} comments</p>
        </div>
      </div>
      <div class="grid-container">
         <div class="grid-x grid-padding-x">
           <div v-for="comm in todo.comments" class="large-10 large-offset-2 cell">
             <div class="card-info secondary">
                <h3 class="lead">{{ comm.comment }}</h3>
                <p>authored by {{ comm.author }} on {{ comm.created_on }}</p>
              </div>
            </div>
            <div class="large-10 large-offset-2 cell">
              <form v-bind:action="'/comment/'+ todo.id+'/'" method="post">
                  {% endverbatim %}
                  {% csrf_token %}
                  <!-- <h4 class="text-center">Comment</h4> -->
                  {{ comm_form }}
                  {% verbatim %}
                  <input type="submit" class="button expanded" value="Comment" />
              </form>
            </div>
          </div>
      </div>

      {% endverbatim %}
</div>
  </span>
</div>




{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
